<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studio Mimo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4cec228884.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link
      href="//db.onlinewebfonts.com/c/51ee907427c788c3ab4442e73286d641?family=Corbel"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      media="screen and (min-width: 930px)"
      href="/css/styles.css"
    />
    <link
      rel="stylesheet"
      media="screen and (max-width: 929px)"
      href="/css/styles_mobile.css"
    />
    <script
      src="https://kit.fontawesome.com/4cec228884.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="icon" href="favicon.ico" type="icon" />
  </head>
  <body id="Home">
    <div class="nav-items mobile nav-items-hidden">
      <a class="nav-item">Home</a>
      <a class="nav-item">Sobre Mim</a>
      <a class="nav-item">Galeria</a>
      <a class="nav-item">Contato</a>
    </div>
    <div class="nav-bar mobile fixed-nav-bar">
      <img
        class="nav-image"
        src="/images/vertical-bg-cinza-escuro cópia 3.png"
        alt=""
      />
      <div class="nav-ham-icon">
        <span><i class="fas fa-bars"></i></span>
      </div>
    </div>
    <nav>
      <img
        class="narrow desktop"
        src="/images/vertical-bg-cinza-escuro cópia 4.png"
        alt=""
      />
      <div class="nav-items desktop">
        <a>Home</a>
        <a>Sobre Mim</a>
        <a>Galeria</a>
        <a>Contato</a>
      </div>
    </nav>
    <div class="home-aboutme">
      <div class="beige-pillar desktop">
        <img class="sky" src="/images/sky-home.png" />
      </div>
      <div class="home">
        <div class="main-text-home main-text-hidden">
          <img
            class="big-logo-name narrow-name desktop"
            src="/images/big-logo2.png"
            alt=""
          />
          <img
            class="big-logo-name narrow-name mobile"
            src="/images/big-logo.png"
            alt=""
          />
          <h2 class="sub-title">Aquarela feita com muito amor</h2>
          <a class="link-home link-hidden">Peça sua arte agora!</a>
        </div>
        <img class="bottom-img desktop" src="/images/bottom.png" alt="" />
        <img class="bottom-img mobile" src="/images/bottom_mobile.png" alt="" />
      </div>

      <div id="Sobre-Mim" class="  about-me">
        <img class="about-me-top-img" src="/images/top-aboutme.png" />
        <div class="top-about-me">
          <h1 class="about-me-title">Sobre Mim</h1>
        </div>
        <div class=" middle-aboutme">
          <img class="profile-picture section" src="/images/profile-picture.png" />
          <div class="aboutme-text">
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making it over 2000 years old. Richard McClintock, a Latin
              professor at Hampden-Sydney College in Virginia, looked up one of
              the more obscure Latin words, consectetur, from a Lorem Ipsum
              passage, and ethics, very popular during the Renaissance.
            </p>
            <p>
              The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
              comes from a line in section 1.10.32. The standard chunk of Lorem
              Ipsum used since the 1500s is reproduced below fone of the more
              obscure Latin words, consectetur, from a Lorne of the more obscure
              Latin words,.
            </p>
          </div>
        </div>
        <div class="bottom-about-me">
          <img src="/images/bottom-aboutme1.png" alt="" />
          <img src="/images/bottom-aboutme2.png" alt="" />
        </div>
      </div>
    </div>
    <div id="Galeria " class="  my-work-top">
      <!--<img class="my-work-topimg-2" src="mywork-top-LEFT.png" alt="" />-->
    </div>
    <div class="my-work ">
      <div class="my-work-div"></div>
      <div class="my-work-title"><h1>Galeria</h1></div>
      <div class="album section">
        <div class="item1 items-album"></div>
        <div class="item2 items-album"></div>
        <div class="item3 items-album"></div>
        <div class="item4 items-album"></div>
        <div class="item5 items-album"></div>
        <div class="item6 items-album"></div>
        <div class="item7 items-album"></div>
        <div class="item8 items-album"></div>
        <div class="item9 items-album"></div>
      </div>
      <img
        class="my-work-topimg-1"
        src="/images/mywork-top-right3.png"
        alt=""
      />
    </div>

    <div id="Contato" class="  contact-me">
      <img class='my-work-bottom-img mobile'
      src='/images/mywork-bottom-img.png''> <img class='my-work-bottom-img
      desktop' src='/images/mywork-bottom-img2.png''>
      <div class="contact-title"><h1>Contato</h1></div>

      <form action="/api/upload" enctype="multipart/form-data" method='post' class="contact-me-form section">
        <div class="form-inner">
          <div class="form-nome form-item">
            <label>Nome:</label>
            <input name='nome' placeholder="Nome Completo" type="text" />
          </div>
          <div class="form-telefone form-item">
            <label>Telefone:</label>

            <input
              type="tel"
              placeholder=" (000) - 0000 - 000"
              pattern="[0-9]{3}-[0-9]{5}-[0-9]{4}"
              name='telefone'
            />
          </div>
          <div class="form-email form-item">
            <label>E-mail:</label>
            <input name='email' placeholder="E-mail" type="email" />
          </div>
          <div class="form-rua form-item">
            <label>Endereço:</label>
            <input name='endereco' placeholder="Rua, Número, Bloco e Apt." type="text" />
          </div>
          <div class="form-bairro form-item">
            <label>Bairro:</label>
            <input name='bairro' placeholder="Bairro" type="text" />
          </div>
          <div class="form-cidade form-item">
            <label >Cidade/ES:</label>
            <input name='cidade' placeholder="Cidade/Estado" type="text" />
          </div>
          <div class="form-tamanho form-item">
            <label>Tamanho:</label>
            <select name='tamanho'>
              <option></option>
              <option>Papel A3 - 21.0 × 29.7 cm</option>
              <option>Papel A4 - 14.8 × 21.0 cm</option>
              <option>Papel A5 - 10.5 × 14.8 cm</option>
              <option>Papel A6 - 74.0 × 10.5 cm</option>
            </select>
          </div>
          <div class="form-data form-item">
            <label>Data de entrega:</label>
            <input name='data' type="date" datemin:'2021-03-17' />
          </div>

          <div class="form-descricao form-item">
            <label>Descrição:</label>
            <textarea name='descricao' rows="8" type="text"></textarea>
          </div>
          <div class="form-item form-foto">
            <label>Foto referência: [PNG, JPEG]</label>
            <input name='foto' type="file" accept="image/png, image/jpeg" />
          </div>
          <div class="form-item form-cor">
            <label>Selecione o fundo da foto:</label>
            <select name='corFundo'>
              <option></option>
              <option>🖼 Fundo Original</option>
              <option>🟧 Laranaja</option>
              <option>🟨 Amarelo</option>
              <option>🟥 Vermelho</option>
              <option>🟪 Roxo</option>
              <option>🟦 Azul</option>
              <option>🟩 Verde</option>
              <option>⛔ Outra cor</option>
            </select>
          </div>
          <div class="form-btn">
            <input class="btn-send" type="submit" value="Enviar" />
          </div>
        </div>
      </form>
    </div>

    <footer>
      <div class="icons foot-item">
        <span
          ><a href="https://www.instagram.com/studio_mimo/"
            ><i class="fab fa-instagram"></i></a
        ></span>
        <span
          ><a href="https://wa.me/5581998080043"
            ><i class="fab fa-whatsapp"></i></a
        ></span>
        <span
          ><a href="mailto: dartangnan.theml@gmail.com""
            ><i class="far fa-envelope"></i></a
        ></span>
      </div>
      <div class="bottom-nav-items foot-item">
        <a>Home</a><span>|</span><a>Sobre Mim</a><span>|</span><a>Galeria</a
        ><span>|</span><a>Contato</a>
      </div>
      <small class="desktop">© Copyright 2021 </small>
      <small class="desktop">Studio Mimo</small>
      <small class="mobile">Studio Mimo © Copyright 2021</small>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
