<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studio Mimo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4cec228884.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link
      href="//db.onlinewebfonts.com/c/51ee907427c788c3ab4442e73286d641?family=Corbel"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      media="screen and (min-width: 930px)"
      href="/css/styles.css"
    />
    <link
      rel="stylesheet"
      media="screen and (max-width: 929px)"
      href="/css/styles_mobile.css"
    />
    <script
      src="https://kit.fontawesome.com/4cec228884.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="icon" href="favicon.ico" type="icon" />
  </head>
  <body id="Home">
    <div class="nav-items mobile nav-items-hidden">
      <a class="nav-item">Home</a>
      <a class="nav-item">About Me</a>
      <a class="nav-item">Gallery</a>
      <a class="nav-item">Contact Me</a>
    </div>
    <div class="nav-bar mobile fixed-nav-bar">
      <img
        class="nav-image"
        src="/images/vertical-bg-cinza-escuro cópia 3.png"
        alt=""
      />
      <div class="nav-ham-icon">
        <span><i class="fas fa-bars"></i></span>
      </div>
    </div>
    <nav>
      <img
        class="narrow desktop"
        src="/images/vertical-bg-cinza-escuro cópia 4.png"
        alt=""
      />
      <div class="nav-items desktop">
        <a>Home</a>
        <a>About Me</a>
        <a>Gallery</a>
        <a>Contact Me</a>
      </div>
    </nav>
    <div class="home-aboutme">
      
      <div class="home">
        <div class="main-text-home main-text-hidden">
          <img
            class="big-logo-name narrow-name desktop"
            src="/images/big-logo2.png"
            alt=""
          />
          <img
            class="big-logo-name narrow-name mobile"
            src="/images/big-logo.png"
            alt=""
          />
          <h2 class="sub-title">Watercolor made with love</h2>
          <a class="link-home link-hidden">Order now!</a>
        </div>
        <img class="bottom-img desktop" src="/images/bottom.png" alt="" />
        <img class="bottom-img mobile" src="/images/bottom_mobile.png" alt="" />
      </div>

      <div id="About-Me" class="  about-me">
        <img class="about-me-top-img" src="/images/top-aboutme.png" />
        <div class="top-about-me">
          <h1 class="about-me-title">About Me</h1>
        </div>
        <div class=" middle-aboutme">
          <img class="profile-picture section" src="/images/profile-picture.png" />
          <div class="aboutme-text">
            <p>
              Studio Mimo is a studio created in 2019 and it's main porpouse is to 
              make unique gifts, beautiful items and perpetuate memories through
              art. Mariana M. Theml, the artist behind the paints, uses a watercolor
              techniques to achieve incredible and colorful results. Some of her projects
              can be seen below in the Gallery.              
            </p>
            <p>              
              Based in Recife, PE, Brazil, the studio delivers throuhout the 
              whole country. All the pieces include a personalized card 
              reflecting the unique and original personality of the Sutio Mimo. 
              Everything is hand made and carries the love and care of the artist.
            </p>
          </div>
        </div>
        <div class="bottom-about-me">
          <img src="/images/bottom-aboutme1.png" alt="" />
          <img src="/images/bottom-aboutme2.png" alt="" />
        </div>
      </div>
    </div>
    <div id="Gallery" class="  my-work-top">
    </div>
    <div class="my-work ">
      <div class="my-work-div"></div>
      <div class="my-work-title"><h1>Gallery</h1></div>
      <div class="album section">
        <div class="item1 items-album"></div>
        <div class="item2 items-album"></div>
        <div class="item3 items-album"></div>
        <div class="item4 items-album"></div>
        <div class="item5 items-album"></div>
        <div class="item6 items-album"></div>
        <div class="item7 items-album"></div>
        <div class="item8 items-album"></div>
        <div class="item9 items-album"></div>
      </div>
      <img
        class="my-work-topimg-1"
        src="/images/mywork-top-right3.png"
        alt=""
      />
    </div>

    <div id="Contact-Me" class="  contact-me">
      <img class='my-work-bottom-img mobile'
      src='/images/mywork-bottom-img.png''> <img class='my-work-bottom-img
      desktop' src='/images/mywork-bottom-img2.png''>
      <div class="contact-title"><h1>Contact Me</h1></div>

      <form action="/api/upload" enctype="multipart/form-data" method='post' class="contact-me-form section">
        <div class="form-inner">
          <div class="form-nome form-item">
            <label>Name:</label>
            <input name='nome' placeholder="Nome Completo" type="text" />
          </div>
          <div class="form-telefone form-item">
            <label>Telephone:</label>

            <input
              type="tel"
              placeholder=" 0xx - xxxxx - xxxx"
              name='telefone'
            />
          </div>
          <div class="form-email form-item">
            <label>E-mail:</label>
            <input name='email' placeholder="E-mail" type="email" />
          </div>
          <div class="form-rua form-item">
            <label>Mail Adress:</label>
            <input name='endereco' placeholder="Rua, Número, Bloco e Apt." type="text" />
          </div>
          <div class="form-bairro form-item">
            <label>District:</label>
            <input name='bairro' placeholder="Bairro" type="text" />
          </div>
          <div class="form-cidade form-item">
            <label >City/ES:</label>
            <input name='cidade' placeholder="Cidade/Estado" type="text" />
          </div>
          <div class="form-tamanho form-item">
            <label>Size:</label>
            <select name='tamanho'>
              <option></option>
              <option>Papel A3 - 21.0 × 29.7 cm</option>
              <option>Papel A4 - 14.8 × 21.0 cm</option>
              <option>Papel A5 - 10.5 × 14.8 cm</option>
              <option>Papel A6 - 74.0 × 10.5 cm</option>
            </select>
          </div>
          <div class="form-data form-item">
            <label>Delivery Date:</label>
            <input name='data' type="date" datemin:'2021-03-17' />
          </div>

          <div class="form-descricao form-item">
            <label>Description:</label>
            <textarea name='descricao' rows="8" type="text"></textarea>
          </div>
          <div class="form-item form-foto">
            <label>Reference Picture: [PNG, JPEG]</label>
            <input name='foto' type="file" accept="image/png, image/jpeg" />
          </div>
          <div class="form-item form-cor">
            <label>Select the background color:</label>
            <select name='corFundo'>
              <option></option>
              <option>🖼 Fundo Original</option>
              <option>🟧 Laranaja</option>
              <option>🟨 Amarelo</option>
              <option>🟥 Vermelho</option>
              <option>🟪 Roxo</option>
              <option>🟦 Azul</option>
              <option>🟩 Verde</option>
              <option>⛔ Other Color</option>
            </select>
          </div>
          <div class="form-btn">
            <input class="btn-send" type="submit" value="Enviar" />
          </div>
        </div>
      </form>
    </div>

    <footer>
      <div class="icons foot-item">
        <span
          ><a href="https://www.instagram.com/studio_mimo/"
            ><i class="fab fa-instagram"></i></a
        ></span>
        <span
          ><a href="https://wa.me/5581998080043"
            ><i class="fab fa-whatsapp"></i></a
        ></span>
        <span
          ><a href="mailto: dartangnan.theml@gmail.com""
            ><i class="far fa-envelope"></i></a
        ></span>
      </div>
      <div class="bottom-nav-items foot-item">
        <a>Home</a><span>|</span><a>About Me</a><span>|</span><a>Gallery</a
        ><span>|</span><a>Contact Me</a>
      </div>
      <small class="desktop"> Copyright © 2021 </small>
      <small class="desktop">Studio Mimo</small>
      <small class="mobile"> Copyright © 2021 Studio Mimo </small>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
